.vscode/**
.vscode-test/**
src/**
test/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/.DS_Store
server/src/**
server/tsconfig.json
client/src/**
client/tsconfig.json
.agent/**
.nvimlog
tinderboxlsp.code-workspace
test.adc
test_format.tbxc
